<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Fashion, Beauty & Lifestyle Online | YesStyle</title>
    <link rel="icon" href="https://ddvql06zg3s2o.cloudfront.net/Assets/res/p/2906/imgs/favicon/favicon-32x32.png"
        sizes="16x16">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/index.css">


</head>

<body ondblclick="hideaddress()">

    <header class="main-header">
        <div class="headerBox">
            <div class="upperHalfInNav">
                <div class="upperHalfItems">
                    <div class="firDivUpperHalf">
                        <button class="btn-icons"> 
                            <img class="smallIcons pointer" src="https://cdn3.iconfinder.com/data/icons/world-flags-circular-1/512/127-India_indian_asian_asia_IND_south_country_flag_-512.png" onclick="showaddress()" />
                        </button>
                        <button class="btn-icons pointer">
                            <img class="smallIcons" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgSp6qsWQfQcIbEnZFKwMT2rVL7ijlGfj4zA&usqp=CAU"
                                onclick="ShowDropDown('dropdown_track')" />
                        </button>
                        <div id="dropdown_track">
                            <a href="/products/index">Order Tracking</a>
                            <a href="/products/help">Help</a>
                        </div>
                        <button class="btn-icons pointer" onclick="showsearchbar()">
                            <img class="smallIcons" src="https://img.icons8.com/ios/2x/search.png
                            ">
                        </button>
                    </div>
                    <img id="headerMainLogo" class="pointer"
                        src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/p/2906/imgs/yesstyle_logo.svg" alt="">
                    <div class="secDivUpperHalf">
                        <button class="btn-icons pointer">
                            <img class="smallIcons " src="http://1.bp.blogspot.com/-ZnpdmPRL5To/VDQEyV1lZOI/AAAAAAAACOQ/Zu7qPSrldSQ/s1600/jatin.jpg" onclick="ShowDropDown('dropdown_login')" />
                        </button>
                        <div id="dropdown_login">
                            <a id="a_sign_in" href="/products/signin">Sign In</a>
                            <a id="a_register_now" href="/products/signin">Register Now</a>
                        </div>
                        <button class="btn-icons pointer">
                            <img class="smallIcons" src="https://img.icons8.com/ios/2x/like.png" />
                        </button>
                        <button class="btn-icons pointer" onclick = "window.location.href='/products/cart'">
                            <img class="smallIcons" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdjV_chhBL-3fJjLIKsojWl-F80IwHPHeG1g&usqp=CAU
                            ">
                        </button>
                    </div>
                </div>
            </div>
            <div class="lowerHalfInNav">
                <div class="lowerHalfItems">
                    <div id="new_in">
                        <a href="">NEW IN</a>
                        <div class="dropbox_styling" id="new_in_dropbox">
                            <div class="box-1">
                                <ul><strong><a href="">NEW IN FASHION</a></strong>
                                    <li><a href="">New In Today</a></li>
                                    <li><a href="">New In This Week</a></li>
                                </ul>
                                <ul><strong><a href="">NEW PRODUCTS</a></strong>
                                    <li><a href="">Clothing</a></li>
                                    <li><a href="">Beauty</a></li>
                                    <li><a href="">Accessories</a></li>
                                    <li><a href="">Bag</a></li>
                                    <li><a href="">Footwear</a></li>
                                    <li><a href="">Men</a></li>
                                    <li><a href="">Home & Lifestyle</a></li>

                                </ul>

                            </div>
                            <div class="box-2">
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk40/n_latest_trends.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk40/n_y2k.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                            </div>
                            <div class="box-3">
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk39/n_fashion_fd.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk35/n_beauty_preorder.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                            </div>
                            <div class="box-4">
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk35/n_body_care.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk39/n_beauty_fd.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="women">
                        <a href="/products?gender=Women">WOMEN</a>
                        <div class="dropbox_styling" id="women_dropbox">
                            <div class="box-1">
                                <ul><strong>START HERE</strong>
                                    <li>New Arrivals</li>
                                    <li>In Stock-Items</li>
                                    <li>Best Seller</li>
                                    <li>Flash Sales</li>
                                    <li>Stock Clearance</li>
                                </ul>
                                <ul><strong>FEATURES</strong>
                                    <li>Latest TrendS</li>
                                    <li>Korean Fashion</li>
                                    <li>YesStyle Picks</li>
                                    <li>SIMPLY MOOD 20% OFF</li>
                                </ul>
                            </div>
                            <div class="box-2">
                                <ul><strong>CLOTHING</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                    <li>Dresses</li>
                                    <li>Jeans</li>
                                    <li>Jumpsuits</li>
                                    <li>Lingerie</li>
                                    <li>Maternity Clothes</li>
                                    <li>Pajamas</li>
                                    <li>Pants</li>
                                    <li>Shorts</li>
                                    <li>Skirts</li>
                                    <li>Socks & Tights</li>
                                    <li>Swimwear</li>
                                </ul>
                            </div>
                            <div class="box-3">
                                <ul><strong>TOPS</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                </ul>
                                <ul><strong>PANTS</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                </ul>
                                <ul><strong>SWIMWEAR</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Bikinis</li>
                                </ul>
                            </div>
                            <div class="box-4">
                                <ul><strong>DRESSES</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                </ul>
                                <ul><strong>SKIRTS</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                </ul>
                                <ul><strong>ACCESSORIES</strong></ul>
                                <ul><strong>BAG & FOOTWEAR</strong></ul>
                            </div>
                            <div class="box-5">
                                <strong style="display: block;">HIGHLIGHTS</strong>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk40/ma_top_picks.jpg"
                                        alt="">
                                    <a>Top Picks 20% OFF</a>
                                </div>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk39/ma_pants_w.jpg"
                                        alt="">
                                    <a>Pants upto 50% OFF</a>
                                </div>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk40/ma_jewelry_acc_w.jpg"
                                        alt="">
                                    <a>For Minimalist</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="beauty">
                        <a href="">BEAUTY</a>
                        <div class="dropbox_styling" id="beauty_dropbox">
                            <div class="box-1">
                                <ul><strong>START HERE</strong>
                                    <li>New Arrivals</li>
                                    <li>In Stock-Items</li>
                                    <li>Best Seller</li>
                                    <li>Flash Sales</li>
                                    <li>Stock Clearance</li>
                                </ul>
                                <ul><strong>FEATURES</strong>
                                    <li>Latest TrendS</li>
                                    <li>Korean Fashion</li>
                                    <li>YesStyle Picks</li>
                                    <li>SIMPLY MOOD 20% OFF</li>
                                </ul>
                            </div>
                            <div class="box-2">
                                <ul><strong>CLOTHING</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                    <li>Dresses</li>
                                    <li>Jeans</li>
                                    <li>Jumpsuits</li>
                                    <li>Lingerie</li>
                                    <li>Maternity Clothes</li>
                                    <li>Pajamas</li>
                                    <li>Pants</li>
                                    <li>Shorts</li>
                                    <li>Skirts</li>
                                    <li>Socks & Tights</li>
                                    <li>Swimwear</li>
                                </ul>
                            </div>
                            <div class="box-3">
                                <ul><strong>TOPS</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                </ul>
                                <ul><strong>PANTS</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                </ul>
                                <ul><strong>SWIMWEAR</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Bikinis</li>
                                </ul>
                            </div>
                            <div class="box-4">
                                <ul><strong>DRESSES</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                </ul>
                                <ul><strong>SKIRTS</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                </ul>
                                <ul><strong>ACCESSORIES</strong></ul>
                                <ul><strong>BAG & FOOTWEAR</strong></ul>
                            </div>
                            <div class="box-5">
                                <strong style="display: block;">HIGHLIGHTS</strong>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk39/ma_toners.jpg"
                                        alt="">
                                    <a>Top Picks 20% OFF</a>
                                </div>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk37/ma_probiotics.jpg"
                                        alt="">
                                    <a>Pants upto 50% OFF</a>
                                </div>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk39/ma_pezri.jpg"
                                        alt="">
                                    <a>For Minimalist</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="men">
                        <a href="/products?gender=Men">MEN</a>
                        <div class="dropbox_styling" id="men_dropbox">
                            <div class="box-1">
                                <ul><strong>START HERE</strong>
                                    <li>New Arrivals</li>
                                    <li>In Stock-Items</li>
                                    <li>Best Seller</li>
                                    <li>Flash Sales</li>
                                    <li>Stock Clearance</li>
                                </ul>
                                <ul><strong>FEATURES</strong>
                                    <li>Latest TrendS</li>
                                    <li>Korean Fashion</li>
                                    <li>YesStyle Picks</li>
                                    <li>SIMPLY MOOD 20% OFF</li>
                                </ul>
                            </div>
                            <div class="box-2">
                                <ul><strong>CLOTHING</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                    <li>Dresses</li>
                                    <li>Jeans</li>
                                    <li>Jumpsuits</li>
                                    <li>Lingerie</li>
                                    <li>Maternity Clothes</li>
                                    <li>Pajamas</li>
                                    <li>Pants</li>
                                    <li>Shorts</li>
                                    <li>Skirts</li>
                                    <li>Socks & Tights</li>
                                    <li>Swimwear</li>
                                </ul>
                            </div>
                            <div class="box-3">
                                <ul><strong>TOPS</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                </ul>
                                <ul><strong>PANTS</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                </ul>
                                <ul><strong>SWIMWEAR</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Bikinis</li>
                                </ul>
                            </div>
                            <div class="box-4">
                                <ul><strong>DRESSES</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                </ul>
                                <ul><strong>SKIRTS</strong>
                                    <li>Activewear</li>
                                    <li>Coats & Jackets</li>
                                    <li>Cosplay / Costumes</li>
                                    <li>Dancewear</li>
                                </ul>
                                <ul><strong>ACCESSORIES</strong></ul>
                                <ul><strong>BAG & FOOTWEAR</strong></ul>
                            </div>
                            <div class="box-5">
                                <strong style="display: block;">HIGHLIGHTS</strong>
                                <div class="box">

                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk40/ma_kr_fashion.jpg"
                                        alt="">
                                    <a>Top Picks 20% OFF</a>
                                </div>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk39/ma_pants_m.jpg"
                                        alt="">
                                    <a>Pants upto 50% OFF</a>
                                </div>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk40/ma_jewelry_acc_m.jpg"
                                        alt="">
                                    <a>For Minimalist</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="lifestyle">
                        <a href="">LIFESTYLE</a>
                        <div class="dropbox_styling" id="lifestyle_dropbox">
                            <div class="box-1">
                                <ul><strong>NEW IN FASHION</strong>
                                    <li>New In Today</li>
                                    <li>New In This Week</li>
                                </ul>
                                <ul><strong>NEW PRODUCTS</strong>
                                    <li>Clothing</li>
                                    <li>Beauty</li>
                                    <li>Accessories</li>
                                    <li>Bag</li>
                                    <li>Footwear</li>
                                    <li>Men</li>
                                    <li>Home & Lifestyle</li>

                                </ul>

                            </div>
                            <div class="box-2">
                                <div class="box">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdE3Z36jcnh3P-Ie6Rf26FXkDjxffp9_dvOg&usqp=CAU"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                                
                            </div>
                            <div class="box-3">
                                <div class="box">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgO7HmDMBB-7UYZOThhvxxa5dyzl6JICRWKQ&usqp=CAU"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                               
                            </div>
                            <div class="box-4">
                                
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk35/n_latest_trends.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="saleRedirector">
                        <a href="" style="color: red;">SALE</a>
                        <div class="dropbox_styling" id="sale_dropbox">
                            <div class="box-1">
                                <ul><strong>NEW IN FASHION</strong>
                                    <li>New In Today</li>
                                    <li>New In This Week</li>
                                </ul>
                                <ul><strong>NEW PRODUCTS</strong>
                                    <li>Clothing</li>
                                    <li>Beauty</li>
                                    <li>Accessories</li>
                                    <li>Bag</li>
                                    <li>Footwear</li>
                                    <li>Men</li>
                                    <li>Home & Lifestyle</li>

                                </ul>

                            </div>
                            <div class="box-2">
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/specialpage/2021/sale_menu/fashion/n_usd15_en.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk29/n_free_sample_en.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                            </div>
                            <div class="box-3">
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/specialpage/2021/sale_menu/sc_fashion/n_fashion_25_en.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/specialpage/2021/sale_menu/beauty/n_usd5_en.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                            </div>
                            <div class="box-4">
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/specialpage/2021/sale_menu/other/n_mask.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                                <div class="box">
                                    <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/specialpage/2021/sale_menu/sc_beauty/n_beauty_30_en.jpg"
                                        alt="clothings">
                                    <a>Latest Trending</a>
                                    <a>Discount upto 40%-90%</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="blog">
                        <a href="/products/blog">BLOG</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- drop boxes search bar -->
        <div id="dropbox_search_bar">
            <input type="text" placeholder="Search" />
            <span onclick="hidesearchbar()">x</span>
        </div>
    </header>

    <div class="back-white firstDiv">
        <button class="back-white text-grey">Free Express Shipping with any US$ 59 purchase</button>
        |
        <button class="back-white text-grey">Buy Now Pay Later</button>
        |
        <button class="back-white text-grey">YesStyle's response to COVID-19</button>
    </div>
    
    <div id="mySlideshow" class="slideshow"></div>
    
    <div class="main-cont">
        <!-- It's for the top horizontal buttons aligned after header -->

        <br>

        <div id="collage">
            <div id="photoleft">
                <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/p/2918/imgs/demo/revamp2/photo-left.png"
                    alt="">
            </div>

            <div id="over">
                <div id="insidetxt">
                    <p >Register to get extra 10% off</p>
                    <h3 >EXTRA 10% OFF & FREE SHIPPINHG</h3>
                    <button class="bt">REGISTER</button>
                </div>
            </div>

            <div id="photoright">
                <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/p/2918/imgs/demo/revamp2/photo-right.png"
                    alt="">
            </div>

        </div>

        <div id="Av">
            <div id="first">
                <div>.</div>
                <div id="indiv">
                    <h3>NEW ARRIVALS</h3>
                    <h3 id="ar" style="line-height: 40px;">20% OFF</h3>
                    <p id="ptxt">For 24 Hours Only!</p>
                </div>
            </div>
            <div id="second">
                <div>.</div>
                <div id="indiv">
                    <h3>WHAT'S HOT</h3>
                    <p id="ptxt" style="line-height: 40px;">For 24 Hours Only!</p>
                </div>
            </div>
            <div id="third">
                <div>.</div>
                <div id="indiv">
                    <h3>PANTS</h3>
                    <h3 style="line-height: 40px;">UP TO 40% OFF</h3>
                    <p id="ptxt" style="line-height: 10px;">COOL AND COMFY</p>
                    <P id="ptxt" style="line-height: 15px;">Sale ends Oct. 3, 2021</P>
                </div>
            </div>
        </div>

        <!-- It's for the box named flesh sales box -->

        <div class="flashSalesFromThreeDollars">
            <h1 class="boxHeadings flashSalesTitle">FLASH SALES FROM US$ 2.99</h1>
            <span id="box-1_flashSales">
            </span>
            <span id="box-2_flashSales">
            </span>
            <span id="box-3_flashSales">
            </span>
            <span id="box-4_flashSales">
            </span>

            <div id="flashSalesUnderThreeContent" class="flashSalesContent flashSalesContentBox"></div>
            <p class="textAfterFlashSales">Limited Stock. Only one quantity per item per order</p>
        </div>

        <div class="flashSalesFromThreeDollars flashSalesUpToTwentyFive">
            <h1 class="boxHeadings flashSalesTitle fleshSalesTwentyFive">FLASH SALES UPTO 25% OFF</h1>
            <span id="box-1_fleshSalesTwentyFive">
            </span>
            <span id="box-2_fleshSalesTwentyFive">
            </span>
            <span id="box-3_fleshSalesTwentyFive">
            </span>
            <span id="box-4_fleshSalesTwentyFive">
            </span>

            <div id="flashSalesUpToTwentyFiveData"
                class="flashSalesContent flashSalesContentBox fleshSalesUptoTwentyFiveContent"></div>
            <div class="btnHolderDivForRecentlyViewed btnHolderDivUnderTwentyFive">
                <button id="btnInFlashSalesUptoBox"
                    class="btnBackgroundBlack backgroundWhite cursorPointer btnAfterProducts">MORE FLASH SALES</button>
            </div>
        </div>

        <!-- It's for the box named stock clearance up to 25% off -->

        <div class="stockClearanceBox">
            <h1 class="boxHeadings flashSalesTitle flashSalesInStockClearance">STOCK CLEARANCE UP TO 25% OFF</h1>

            <div id="flashSalesInStockClearanceContent"
                class="flashSalesContent flashSalesContentBox stockClearanceContent"></div>
            <div class="btnHolderDivForRecentlyViewed btnHolderDivUnderTwentyFive">
                <button id="btnInFlashSalesUptoBox"
                    class="btnBackgroundBlack backgroundWhite cursorPointer btnAfterProducts">MORE FLASH SALES</button>
            </div>
        </div>

        <h1 id="heading">Top Categories</h1>
        <div id="topCategories">
            <div>
                <a href=""><img class="topimg"
                        src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/categories/14090.jpg" alt=""></a>
                <div id="txt">Top</div>
            </div>

            <div>
                <a href=""><img class="topimg"
                        src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/categories/14093.jpg" alt=""></a>
                <div id="txt">Skirt</div>
            </div>

            <div>
                <a href=""><img class="topimg"
                        src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/categories/14129.jpg" alt=""></a>
                <div id="txt">Shoes</div>
            </div>

            <div>
                <a href=""><img class="topimg"
                        src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/categories/14099.jpg" alt=""></a>
                <div id="txt">Blouse</div>
            </div>

            <div>
                <a href=""><img class="topimg"
                        src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/categories/15663.jpg" alt=""></a>
                <div id="txt">Jeans</div>
            </div>

            <div>
                <a href=""><img class="topimg"
                        src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/categories/14138.jpg" alt=""></a>
                <div id="txt">Backpacks</div>
            </div>
        </div>


        <div id="shopBeauty">
            <div id="insidetxt">
                <h3 style="line-height: 0px;">BEAUTIFY YOUR LIFE</h3>
                <h3 style="line-height: 40px;">UP TO 30% OFF</h3>
                <div>Your One-Stop Beauty Destination</div>
                <button class="bt">SHOP BEAUTY</button>
            </div>
        </div>

        <div id="lastBox">
            <div id="fstbox">
                <div id="insidetxt">
                    <h3 style="line-height: 0px;">FASHION ACCESSORIES</h3>
                    <h3 style="line-height: 40px;">AS LOW AS US$ 3</h3>
                    <button class="bt">SHOP ACCESSORIES</button>
                </div>
            </div>
            <div id="lstbox">
                <div id="insidetxt">
                    <h3 style="line-height: 0px;">HOME & LIFESTYLE</h3>
                    <h3 style="line-height: 40px;">AS LOW AS US$ 2</h3>
                    <button class="bt">SHOP LIFESTYLE</button>
                </div>
            </div>
        </div>

        <!-- It's for the recommended boxes -->
        <div class="recommendedBox">
            <div class="content">
                <h1 class="cursorPointer boxHeadings">RECOMMENDED FOR YOU</h1>
                <div id="recommendedBox" class="cursorPointer productsHolder"></div>
            </div>
            <div class="btnHolderDiv">
                <button id="btnAfterRecommendedBox" class="cursorPointer btnAfterProducts">LOAD MORE</button>
            </div>
        </div>

        <!-- It's for box titled Yesstylist-->
        <div class="yesStylistBox">
            <div class="content contentInYesStylistBox">
                <h1 class="cursorPointer boxHeadings">THE YESSTYLIST</h1>
                <div id="yesStylistBoxContent" class="cursorPointer productsHolder">
                    <div class="firstContentYesStylist">
                        <div id="firstHalfOfFirst_YesStylist" class="yesHalfFirst25%"></div>

                        <div id="secondHalfOfFirst_YesStylist" class="yesHalfSecond25%"></div>
                    </div>

                    <div class="secondContentYesStylist">
                        <div id="firstHalfOfSecond_YesStylist" class="yesHalfFirst25%"></div>

                        <div id="secondHalfOfSecond_YesStylist" class="yesHalfSecond25%"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="check">
            <h1 style="text-align: center;line-height: 0px;">CHECK OUT OUR YESSTYLERS!</h1>
            <p style="text-align: center; line-height: 70px;">Shop your favorite looks from the @YesStyle feed</p>

            <div style="width: 100%;margin: auto;margin-top: 3%;">

                <div id="box1">
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/ig/202109/rrrrayda.jpg"
                            alt="">
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/ig/202109/kesiidee.jpg"
                            alt="">
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/ig/202109/jezmicole.jpg"
                            alt="">
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/ig/202109/aphia_o.jpg"
                            alt="">
                    </div>
                </div>

                <div id="box2">
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/ig/202109/ellarmiller.jpg"
                            alt="">
                    </div>
                    <div id="middelbox">
                        <img style="width: 20%;height: 60px;"
                            src="../images/Popular-Logo-Instagram-icon-PNG.png"
                            alt="Instagram">
                        <div>Tag @YesStyle on Instagram</div>
                        <div>to share your favorite looks with fellow YesStylers!</div>
                        <button class="bt">MORE DETAILS</button>
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/ig/202109/least_frequency.jpg"
                            alt="">
                    </div>
                </div>

            </div>
        </div>



        <!-- It's for recently viewed boxes -->
        <div class="recentlyViewedBox">
            <div class="content">
                <h1 class="cursorPointer boxHeadings">RECENTLY VIEWED</h1>
                <div id="recentlyViewedBox" class="cursorPointer productsHolder"></div>
            </div>
            <div class="btnHolderDivForRecentlyViewed">
                <button id="btnAfterRecentlyViewed"
                    class="btnBackgroundBlack backgroundWhite cursorPointer btnAfterProducts">LOAD MORE</button>
            </div>
        </div>



        <!-- It's for box named Notable beauty brands before footer -->
        <div class="notableBrandsBoxMain">
            <div class="content contentInNotableBrand">
                <h1 class="cursorPointer boxHeadings">NOTABLE BEAUTY BRANDS</h1>
                <div id="notableBrandsBox" class="cursorPointer productsHolder notableBrandsGrid">
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/brandicon/png/cosrx.png">
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/brandicon/beauty/somebymi.png">
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/brandicon/beauty/im_from.png">
                    </div>
                    <div>
                        <img
                            src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/brandicon/beauty/dear_klairs.png">
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/brandicon/beauty/purito.png">
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/brandicon/beauty/iunik.png">
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/brandicon/beauty/missha.png">
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/brandicon/beauty/romand.png">
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/brandicon/mizon.png">
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/brandicon/neogen.png">
                    </div>
                    <div>
                        <img
                            src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/brandicon/beauty/rohto_mentholatum.png">
                    </div>
                    <div>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/brandicon/shiseido.png">
                    </div>
                </div>
                <div class="btnMoreBrandsAtBefFooter">
                    <button id="btnViewBrandsBeforeFooter"
                        class="btnBackgroundBlack backgroundWhite cursorPointer btnAfterProducts">VIEW MORE
                        BRANDS</button>
                </div>
            </div>
        </div>
        <div class="hrline"></div>
        <!-- ///////////////////////footer jatin//////////////// -->
        <footer id="footer">
            <div class="info_social">
                <div class="info">
                    <div class="box_1">
                        <strong>ENQUIRY</strong>
                        <ul>
                            <li>Customer Services</li>
                            <li>Order Tracking</li>
                            <li>Contact Us</li>
    
                        </ul>
                    </div>
                    <div class="box_2">
                        <strong>ABOUT YESSTYLE</strong>
                        <ul>
                            <li>About Us</li>
                            <li>Email Our CEO <span class="new_anouncement">NEW</span></li>
                            <li>Friends Rewards</li>
                            <li>YesStyle Influencer <span class="new_anouncement">NEW</span></li>
                        </ul>
                    </div>
                    <div class="box_3">
                        <strong>INFORMATION</strong>
                        <ul>
                            <li>Special Offer</li>
                            <li>Affiliate Program</li>
                            <li>Wholesale</li>
    
                        </ul>
                    </div>
                </div>
                <div class="socialconnects">
                    <div class="yesstyleapp">
                        <strong>THE YESSTYLE APP</strong>
                        <img src="https://ddvql06zg3s2o.cloudfront.net/Assets/res/p/2909/imgs/appintro/app-badge_en.svg"
                            alt="link-to-playstore" style="margin: 10px 10px 0px 0px;" />
                    </div>
                    <div class="social_media">
                        <strong>FOLLOW YESSTYLE ON</strong>
                        <div class="social_media_icons" style="margin: 10px 10px 0px 0px;">
                            <img src="https://img.icons8.com/color/48/000000/facebook-new.png" alt="facebook" />
                            <img src="https://img.icons8.com/color/48/000000/twitter-circled--v1.png" alt="twitter" />
                            <img src="https://img.icons8.com/color/48/000000/pinterest.png" alt="pinterest" />
                            <img src="https://img.icons8.com/ios-glyphs/50/000000/instagram-new.png" alt="instagram" />
                            <img src="icons_gif/icons8-youtube-64.png" alt="youtube" style="width: 45px; height: 45;" />
                            <img src="https://img.icons8.com/ios-filled/50/000000/tumblr--v2.png" alt="tumblr" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="privacy_copyright">
                <div class="lang_privacy">
                    <div class="language"><span class="gap_lang">English</span><span
                            class="gap_lang">Français</span><span class="gap_lang">Deutsch</span><span
                            class="gap_lang">Español</span><span class="gap_lang">Italiano</span><span
                            class="gap_lang">日本語</span>
                        <div class="line"></div><span class="gap_lang">Terms of Use</span><span class="gap_lang">Privacy
                            Policy</span><span class="gap_lang">Cookie
                            Preferences</span>
                    </div>
                </div>
                <p style="margin: 2px;">
                    Copyright © 2006-2021 YESSTYLE.COM LTD. All rights reserved.</p>
            </div>
        </footer>
    </div>

    <script src="./index.js"></script>
</body>

</html>
<script>
    // This is the data for the box title "Recommended for you
if (localStorage.getItem("showProducts") === null) {
    localStorage.setItem("showProducts", JSON.stringify([]));
}
var newArr_whatshot_pants_data = [
    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/60/126/M_p0139112660.jpg",
        title: "Lemongrass - Floral Lace Bustier Top",
        price: 17.77,
        category: "female",
        quantity: 1
    },
    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/75/735/M_p0143673575.jpg",
        title: "Lemongrass-Lace Bustier ",
        price: 8.99,
        category: "female",
        quantity: 1

    },
    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/57/488/M_p0140348857.jpg",
        title: "Lemongrass - Contrast-Ribbon Bustier Top",
        price: 12.40,
        category: "female",
        quantity: 1
    },
    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/94/889/M_p0129288994.jpg",
        title: "Lemongrass - Daisy-Print Sheer Mesh Top",
        price: 6.94,
        category: "female",
        quantity: 1
    },
    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/95/553/M_p0139755395.jpg",
        title: "Lemongrass - Corduroy Floral Bustier Top in 6 Colors",
        price: 10.74,
        category: "female",
        quantity: 1
    },
    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/15/955/M_p0127895515.jpg",
        title: "Lemongrass - Square-neck Sunflower-Print Smocked Cropped Top",
        price: 11.31,
        category: "female",
        quantity: 1
    },
]


function showReccomData(recData) {
    var recommendedBox = document.getElementById("recommendedBox");
    recommendedBox.onclick = function () {
        window.location.href = "/products/bag";
    }
    recData.forEach(function (el) {
        var boxes = document.createElement("div");
        var img = document.createElement("img");
        img.setAttribute("class", "productsImages");
        img.src = el.image;
        img.addEventListener("click", function () {
            getTheDataRecommendedBoxHomepage(el);
        })
        var title = document.createElement("p");
        title.textContent = el.title;
        title.id = "productsTitle";
        var price = document.createElement("p");
        price.textContent = "US$" + el.price;

        boxes.append(img, title, price);
        recommendedBox.append(boxes);
    });

}

function getTheDataRecommendedBoxHomepage(el) {
    localStorage.setItem("showProducts", JSON.stringify([]));
    var currClickedItemStockClearance = JSON.parse(localStorage.getItem("showProducts"));
    currClickedItemStockClearance.push(el);
    localStorage.setItem("showProducts", JSON.stringify(currClickedItemStockClearance));
}

showReccomData(newArr_whatshot_pants_data);

// This is the data for the box titled Recently viewed
var recentlyViewedBoxData = [
    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/14/221/M_p0132422114.jpg",
    },
    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/90/509/M_p0145250990.jpg",
    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/15/955/M_p0127895515.jpg",
    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/97/623/M_p0126962397.jpg",
    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/57/647/M_p0104764757.jpg",
    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/94/889/M_p0129288994.jpg",
    },

]

function showRecViewedData(recData) {
    var recommendedBox = document.getElementById("recentlyViewedBox");
    recData.forEach(function (el) {
        var boxes = document.createElement("div");
        var img = document.createElement("img");
        img.setAttribute("class", "productsImagesInRecentlyViewedBox");
        img.src = el.image;
        boxes.append(img);
        recommendedBox.append(boxes);
    });

}

showRecViewedData(recentlyViewedBoxData);

// For yes stylist page
var firstDivData = {
    image: "https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/video_blog/202109/20210927mn.jpg",
    title: "10 WEARABLE FALL / WINTER 2021 FASHION TRENDS",
    description: "Cool and crisper weather is arriving soon, a reminder that it’s time to refresh your wardrobe for the changing season!"
}

var secondDivData = {
    image: "https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/video_blog/202109/20210923jm.jpg",
    title: "TWINNING: FALL BEVERAGES & OUTERWEARS",
    description: "What better way to welcome the crisp autumn breeze than by pairing cozy parkas, jackets and coats with fall beverages!"
}


function showFirstDivData(data) {
    var imageContainer = document.getElementById("firstHalfOfFirst_YesStylist");
    var textContainer = document.getElementById("secondHalfOfFirst_YesStylist");
    var image = document.createElement("img");
    image.src = data.image;
    image.setAttribute("class", "imagesInYesStylistBox");
    var title = document.createElement("h3");
    title.setAttribute("class", "titleInYesStylist");
    title.textContent = data.title;
    var description = document.createElement("p");
    description.setAttribute("class", "descInYesStylist");
    description.textContent = data.description;
    var btnReadMore = document.createElement("button");
    btnReadMore.setAttribute("class", "btnInYesStylist");
    btnReadMore.textContent = "READ MORE";

    imageContainer.append(image);
    textContainer.append(title, description, btnReadMore);
}

showFirstDivData(firstDivData);

function showSecondDivData(data) {
    var imageContainer = document.getElementById("firstHalfOfSecond_YesStylist");
    var textContainer = document.getElementById("secondHalfOfSecond_YesStylist");
    var image = document.createElement("img");
    image.src = data.image;
    image.setAttribute("class", "imagesInYesStylistBox");
    var title = document.createElement("h3");
    title.setAttribute("class", "titleInYesStylist");
    title.textContent = data.title;
    var description = document.createElement("p");
    description.setAttribute("class", "descInYesStylist");
    description.textContent = data.description;
    var btnReadMore = document.createElement("button");
    btnReadMore.setAttribute("class", "btnInYesStylist");
    btnReadMore.textContent = "READ MORE";

    imageContainer.append(image);
    textContainer.append(title, description, btnReadMore);
}

showSecondDivData(secondDivData);


// It's for the box titled as flash sales from 2.99$
// CountDown timer
var deadlineForFlashSales = new Date("mar 21, 2022 23:59:00").getTime();
// console.log(deadline);
var flashSalesInt = setInterval(function () {
    var now = new Date().getTime();
    var lefttime = deadlineForFlashSales - now;
    // console.log(lefttime);
    var days = Math.floor(lefttime / (1000 * 60 * 60 * 24));
    var hours = Math.floor((lefttime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((lefttime % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((lefttime % (1000 * 60)) / 1000);

    document.getElementById("box-1_flashSales").innerHTML = days + "d";
    document.getElementById("box-2_flashSales").innerHTML = hours;
    document.getElementById("box-3_flashSales").innerHTML = minutes;
    document.getElementById("box-4_flashSales").innerHTML = seconds;

    if (lefttime < 0) {
        clearInterval(flashSalesInt);
        document.getElementById("box-1_flashSales").innerHTML = "";
        document.getElementById("box-2_flashSales").innerHTML = "";
        document.getElementById("box-3_flashSales").innerHTML = "";
        document.getElementById("box-4_flashSales").innerHTML = "";
    }

}, 1000);



// This is data for the box titled fleshSalesUnder2.99Dollar
var fleshSalesUnderThreeDollars = [
    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/86/182/M_p0128518286.jpg",
        price: 8.99,
        claimedPerc: "6%",
        category: "female",
        quantity: 1
    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/39/131/M_p0111713139.jpg",
        price: 8.99,
        claimedPerc: "7%",
        category: "female",
        quantity: 1
    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/46/759/M_p0047075946.jpg",
        price: 2.99,
        claimedPerc: "12%",
        category: "female",
        quantity: 1
    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/23/857/M_p0112985723.jpg",
        price: 9.99,
        claimedPerc: "80%",
        category: "female",
        quantity: 1

    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/78/162/M_p0130216278.jpg",
        price: 8.99,
        claimedPerc: "53%",
        category: "female",
        quantity: 1
    },
]


function showFleshSaleUnderThreeData(fleshSalesData) {
    var flashSalesBox = document.getElementById("flashSalesUnderThreeContent");
    fleshSalesData.forEach(function (el) {
        var divContainer = document.createElement("div");
        divContainer.setAttribute("class", "productsDivInsideFleshSales");
        divContainer.onclick = function () {
            window.location.href = "/products/bag";
        }
        var image = document.createElement("img");
        image.src = el.image;
        image.addEventListener("click", function () {
            getTheDataFlashSalesUnderThree(el);
        });
        var price = document.createElement("p");
        price.textContent = "US$" + el.price;
        var claimedPerc = document.createElement("p");
        claimedPerc.textContent = "Deal is " + el.claimedPerc + " claimed";
        claimedPerc.id = "claimedPercInFleshSales";

        divContainer.append(image, price, claimedPerc);

        flashSalesBox.append(divContainer);
    })
}

showFleshSaleUnderThreeData(fleshSalesUnderThreeDollars);

function getTheDataFlashSalesUnderThree(el) {
    localStorage.setItem("showProducts", JSON.stringify([]));
    let currClickedItemData = JSON.parse(localStorage.getItem("showProducts"));
    currClickedItemData.push(el);
    localStorage.setItem("showProducts", JSON.stringify(currClickedItemData));
    // Now redirect the user to the product details page
}

// This functionality is for the box titled Flash Sales upto 25% off

// CountDown timer
var deadlineForFlashSalesUptoTwentyFive = new Date("mar 3, 2021 23:59:00").getTime();
// console.log(deadline);
var flashSalesUnderTwentyFivInt = setInterval(function () {
    var now = new Date().getTime();
    var lefttime = deadlineForFlashSalesUptoTwentyFive - now;
    // console.log(lefttime);
    var days = Math.floor(lefttime / (1000 * 60 * 60 * 24));
    var hours = Math.floor((lefttime % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((lefttime % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((lefttime % (1000 * 60)) / 1000);

    document.getElementById("box-1_fleshSalesTwentyFive").innerHTML = days + "d";
    document.getElementById("box-2_fleshSalesTwentyFive").innerHTML = hours;
    document.getElementById("box-3_fleshSalesTwentyFive").innerHTML = minutes;
    document.getElementById("box-4_fleshSalesTwentyFive").innerHTML = seconds;

    if (lefttime < 0) {
        clearInterval(flashSalesUnderTwentyFivInt);
        document.getElementById("box-1_fleshSalesTwentyFive").innerHTML = "";
        document.getElementById("box-2_fleshSalesTwentyFive").innerHTML = "";
        document.getElementById("box-3_fleshSalesTwentyFive").innerHTML = "";
        document.getElementById("box-4_fleshSalesTwentyFive").innerHTML = "";
    }

}, 1000);

var fleshSalesUptoTwentyFive = [
    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/15/203/M_p0126820315.jpg",
        price: 8.99,
        claimedPerc: "6%",
        category: "female",
        quantity: 1
    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/61/733/M_p0104573361.jpg",
        price: 7.99,
        claimedPerc: "7%",
        category: "male",
        quantity: 1

    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/39/131/M_p0111713139.jpg",
        price: 3.99,
        claimedPerc: "12%",
        category: "female",
        quantity: 1

    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/96/683/M_p0129068396.jpg",
        price: 5.99,
        claimedPerc: "80%",
        category: "female",
        quantity: 1

    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/31/897/M_p0088089731.jpg",
        price: 9.99,
        claimedPerc: "53%",
        category: "male",
        quantity: 1

    },
]


function showFleshSalesUpto25Data(fleshSalesData) {
    var flashSalesBox = document.getElementById("flashSalesUpToTwentyFiveData");
    fleshSalesData.forEach(function (el) {
        var divContainer = document.createElement("div");
        divContainer.setAttribute("class", "productsDivInsideFleshSales");
        divContainer.onclick = function () {
            window.location.href = "/products/bag";
        }
        var image = document.createElement("img");
        image.src = el.image;
        image.addEventListener("click", function () {
            getTheDataFlashSalesUptoTwentyFiv(el);
        })
        var price = document.createElement("p");
        price.textContent = "US$" + el.price;
        var claimedPerc = document.createElement("p");
        claimedPerc.textContent = "Deal is " + el.claimedPerc + " claimed";
        claimedPerc.id = "claimedPercInFleshSales";

        divContainer.append(image, price, claimedPerc);

        flashSalesBox.append(divContainer);
    })
}

function getTheDataFlashSalesUptoTwentyFiv(el) {
    localStorage.setItem("showProducts", JSON.stringify([]));
    var currClickedItem = JSON.parse(localStorage.getItem("showProducts"));
    currClickedItem.push(el);
    localStorage.setItem("showProducts", JSON.stringify(currClickedItem));
}

showFleshSalesUpto25Data(fleshSalesUptoTwentyFive);

// It's for stock clearance box

var stockClearanceData = [
    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/87/209/M_p0149120987.jpg",
        price: 8.99,
        claimedPerc: "6%",
        category: "female",
        quantity: 1
    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/52/358/M_p0096835852.jpg",
        price: 7.99,
        claimedPerc: "7%",
        category: "female",
        quantity: 1

    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/38/771/M_p0115277138.jpg",
        price: 3.99,
        claimedPerc: "12%",
        category: "female",
        quantity: 1
    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/44/686/M_p0100368644.jpg",
        price: 5.99,
        claimedPerc: "80%",
        category: "female",
        quantity: 1

    },

    {
        image: "https://d1flfk77wl2xk4.cloudfront.net/Assets/73/911/M_p0141291173.jpg",
        price: 9.99,
        claimedPerc: "53%",
        category: "female",
        quantity: 1
    },
]

function showFleshSalesStockClearance(fleshSalesData) {
    var flashSalesBox = document.getElementById("flashSalesInStockClearanceContent");
    fleshSalesData.forEach(function (el) {
        var divContainer = document.createElement("div");
        divContainer.setAttribute("class", "productsDivInsideFleshSales");
        divContainer.onclick = function () {
            window.location.href = "/products/bag";
        }
        var image = document.createElement("img");
        image.src = el.image;
        image.addEventListener("click", function () {
            getTheDataFlashSalesStockClearance(el);
        })
        var price = document.createElement("p");
        price.textContent = "US$" + el.price;
        var claimedPerc = document.createElement("p");
        claimedPerc.textContent = "Deal is " + el.claimedPerc + " claimed";
        claimedPerc.id = "claimedPercInFleshSales";

        divContainer.append(image, price, claimedPerc);

        flashSalesBox.append(divContainer);
    })
}

function getTheDataFlashSalesStockClearance(el) {
    localStorage.setItem("showProducts", JSON.stringify([]));
    var currClickedItemStockClearance = JSON.parse(localStorage.getItem("showProducts"));
    currClickedItemStockClearance.push(el);
    localStorage.setItem("showProducts", JSON.stringify(currClickedItemStockClearance));
}

showFleshSalesStockClearance(stockClearanceData);

// pummy's javaScript code
let images = [
    "https://ddvql06zg3s2o.cloudfront.net/Assets/res/imgs/creative/21wk39/l_pa_endofseason.jpg",
    "https://img4.urbanic.com/4d589e5d2f0f43fda41eb222d5079332",
    "https://img4.urbanic.com/d45a2ba773d94afa95cf218ff903cd4a"
];


let container = document.getElementById("mySlideshow");
let interval;
function startSlideshow() {
    let counter = 0;
    let image = document.createElement("img");
    image.src = images[counter];
    container.append(image);
    counter++;


    interval = setInterval(function () {
        container.innerHTML = null;

        if (counter == images.length) {
            counter = 0;
        }

        let img = document.createElement("img");
        img.src = images[counter];
        container.append(img);
        counter++;

    }, 3000);
}

startSlideshow();






function ShowDropDown(idname) {
    // event.preventDefault();
    console.log("working_show");
    var disp = document.getElementById(idname);
    disp.style.display = "grid";
}

function showaddress() {
    var div = document.createElement("div");

    var head = document.createElement('h2');
    head.innerHTML = "Location Preferences";
    head.style.cssText = "background:linear-gradient(to bottom right, #66CA59,#45D27D);color:white;padding-left:10px;padding-top:10px"

    var info = document.createElement('p');
    info.innerHTML = "During this difficult period, some couriers and post offices have suspended services to select countries and territories. Please check our Shipping Rates Table to see which countries and territories YesStyle is currently serving.";
    info.style.cssText = "color:#8a6d3b;background-color: #fcf8e3;margin-bottom:20px;padding:4px;box-sizing:border-box;border:2px solid #fada9f";

    var myform = document.createElement('form');
    myform.style.cssText = "display:grid;gird-template-columns:100%;grid-template-rows:repeat(4,23%);gap:3px;";

    var div1 = document.createElement('div');
    var div2 = document.createElement('div');
    var div3 = document.createElement('div');
    var div4 = document.createElement('div');

    // div styling

    div1.style.cssText = "display:grid;grid-template-columns:90%;justify-content:center;grid-template-rows:20% 78%;gap:2%;";
    div2.style.cssText = "display:grid;grid-template-columns:90%;justify-content:center;grid-template-rows:20% 78%;gap:2%;";
    div3.style.cssText = "display:grid;grid-template-columns:90%;justify-content:center;grid-template-rows:20% 78%;gap:2%;";
    div4.style.cssText = "width-90%;display:grid;grid-template-columns:repeat(2,40%);gap:2%;gird-template-rows:70%;align-items:center;margin-left:50%";

    var label_location = document.createElement('label');
    label_location.innerText = "Shipping Destination";

    var select_location = document.createElement('select');
    select_location.value = "null";

    var option_location1 = document.createElement('option');
    var option_location2 = document.createElement('option');
    var option_location3 = document.createElement('option');
    var option_location4 = document.createElement('option');
    var option_location5 = document.createElement('option');

    option_location1.innerHTML = "India";
    option_location2.innerHTML = "Russsia";
    option_location3.innerHTML = "America";
    option_location4.innerHTML = "Swedain";
    option_location5.innerHTML = "Japan";

    select_location.style.border = "0px"
    select_location.style.borderBottom = "2px solid black";

    select_location.append(option_location1, option_location2, option_location3, option_location4, option_location5);
    div1.append(label_location, select_location);

    var label_currency = document.createElement('label');
    label_currency.innerText = "Currency";

    var select_currency = document.createElement('select');
    select_currency.value = "null";

    var option_currencyRs = document.createElement('option');
    var option_currencydollar = document.createElement('option');
    var option_currencypound = document.createElement('option');
    var option_currencyrussia = document.createElement('option');
    var option_currencyjapan = document.createElement('option');

    option_currencyRs.innerHTML = "Indian Rupees (INR)";
    option_currencydollar.innerHTML = "USD - US Dollar (US$)";
    option_currencypound.innerHTML = "PLN - Polish Złoty (zł)";
    option_currencyrussia = "RUB - Russian Ruble (руб)";
    option_currencyjapan.innerHTML = "PLN - Polish Złoty (zł)";

    select_currency.style.border = "0px"
    select_currency.style.borderBottom = "2px solid black";

    select_currency.append(option_currencyRs, option_currencydollar, option_currencyjapan, option_currencypound, option_currencyrussia);
    div2.append(label_currency, select_currency);


    var label_language = document.createElement('label');
    label_language.innerHTML = "Language";

    var select_language = document.createElement('select');
    select_language.value = "null";

    var option_hindi = document.createElement('option');
    var option_french = document.createElement('option');
    var option_english = document.createElement('option');
    var option_spanish = document.createElement('option');
    var option_italy = document.createElement('option');

    option_hindi.innerHTML = 'हिंदी';
    option_french.innerHTML = "Français";
    option_english.innerHTML = "English";
    option_spanish.innerHTML = "Spanish";
    option_italy.innerHTML = "Italiano";

    select_language.style.border = "0px"
    select_language.style.borderBottom = "2px solid black";

    select_language.append(option_hindi, option_english, option_french, option_italy, option_spanish);
    div3.append(label_language, select_language);

    var cancel_btn = document.createElement('button');
    var save_btn = document.createElement('button');

    cancel_btn.innerHTML = "CANCEL";
    save_btn.innerHTML = "SAVE";

    cancel_btn.style.cssText = "height:60%;"
    save_btn.style.cssText = "height:60%;"

    div4.append(cancel_btn, save_btn);

    save_btn.addEventListener('submit', hideaddress);

    myform.append(div1, div2, div3, div4);

    div.append(head, info, myform);

    div.style.cssText = "display:grid;grid-template-columns:100%;grid-template-rows:10% 20% 64%;font-size:15px;justify-content:center;position:fixed;top:6rem;left:35rem;width:600px;height:500px;z-index:100;background-color:white;";
    div.style.boxShadow = "16px 16px 16px 16px rgba(0,0,0,0.3)";
    // document.getElementById("container").style.opacity = "0.3";


    document.body.appendChild(div);

}

function hideaddress() {
    var remove = document.body.lastChild;
    document.body.removeChild(remove);
    // document.getElementById("container").style.opacity = "1";
}


function showsearchbar() {

    var search = document.getElementById('dropbox_search_bar');
    search.style.visibility = "visible";
}

function hidesearchbar() {

    var search = document.getElementById('dropbox_search_bar');
    search.style.visibility = "hidden";
}

if(localStorage.getItem("flagforlogin") === null) {
    localStorage.setItem("flagforlogin",JSON.stringify([false]));
}
var login = JSON.parse(localStorage.getItem("flagforlogin"));
if(login[0] == true) {
    document.getElementById("a_sign_in").innerHTML = "Welcome " + login[1];
    document.getElementById("a_register_now").innerHTML = "Sign Out";
}
let check_sign_out = document.getElementById("a_register_now");
if(check_sign_out.innerHTML === "Sign Out") {
     check_sign_out.addEventListener("click",flagforloginnull);
     check_sign_out.style.pointerEvents = "homepage.html";
    //  check_sign_out.style.pointerEvents = "none";
}
function flagforloginnull(){
    localStorage.setItem("flagforlogin",JSON.stringify([false]));
}
</script>